# Build directories
public/
.cache/
.netlify/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*
!.env.example

# Operating System Files
.DS_Store
Thumbs.db
node_modules

**/CLAUDE.local.md
